// ============================================================================
// Article Component
// ============================================================================

// Header
// ----------------------------------------------------------------------------

.article__header {
  margin-bottom: spacer(lg);
}

.article__title {
  margin-bottom: 0;
}

.article__link {
  text-decoration: none;
}

.article__date {
  @include type-scale(sm);
  color: $text-color-light;
  display: block;
}

.article__header--compact {
  margin-bottom: 0;

  .article__title {
    @include type-scale(md);
  }

  .article__title,
  .article__date {
    display: inline-block;
  }

  .article__date {
    margin-left: spacer(sm);
  }
}

// Content
// ----------------------------------------------------------------------------

.article {
  // Lists sit flush between paragraphs
  p + ul,
  p + ol,
  ul + p,
  ol + p {
    margin-top: -0.5em;
  }
}

// Full
// ----------------------------------------------------------------------------

.article--full + .article--full {
  margin-top: 8vh;
}

// Excerpt
// ----------------------------------------------------------------------------

.article--excerpt {
  + .article--excerpt {
    margin-top: spacer(2xl);
  }
}

.article__excerpt {
  color: $text-color-light;
}

// Mini
// ----------------------------------------------------------------------------

.article--mini {
  .article__link {
    display: inline-block;
    padding: 0.25rem 0;
  }
}
