// ============================================================================
// Base Styles
// ============================================================================

// Fonts
// ----------------------------------------------------------------------------

@mixin fontface($name, $filename, $style, $weight) {
  @font-face {
    font-display: swap;
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url("fonts/#{$filename}.woff2") format("woff2"),
         url("fonts/#{$filename}.woff") format("woff");
  }
}

@include fontface("Source Sans Pro", "sourcesanspro-regular-subset", normal, 400);
@include fontface("Source Sans Pro", "sourcesanspro-regular-italic-subset", italic, 400);
@include fontface("Source Sans Pro", "sourcesanspro-semibold-subset", normal, 600);
@include fontface("Source Sans Pro", "sourcesanspro-semibold-italic-subset", italic, 600);
@include fontface("Source Sans Pro", "sourcesanspro-bold-subset", normal, 700);
@include fontface("Source Sans Pro", "sourcesanspro-bold-italic-subset", italic, 700);
@include fontface("Source Code Pro", "sourcecodepro-regular-subset", italic, 400);

// Document
// ----------------------------------------------------------------------------

html {
  @include type-scale(md);
  background-color: $paper;
  color: $text-color-base;
  font-family: $font-family-base;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

// Typography
// ----------------------------------------------------------------------------

h1, h2, h3 {
  font-weight: font-weight(semi);

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  @include type-scale(2xl);
  margin-bottom: spacer(2xl);
}

h2 {
  @include type-scale(xl);
  margin: spacer(2xl) 0 spacer(sm);
}

h3 {
  @include type-scale(lg);
  margin: spacer(2xl) 0 spacer(sm);
}

p {
  margin-bottom: 1em;
}

a {
  color: currentColor;
  transition: all 100ms ease-out;

  &:hover {
    color: $red;
  }

  &:not(.no-underline) {
    background: linear-gradient($text-color-light, $text-color-light) repeat-x 0% 92%/1px 1px;
    text-decoration: none;
    text-shadow: .03em 0 $bg-color, -.03em 0 $bg-color, 0 .03em $bg-color, 0 -.03em $bg-color, .06em 0 $bg-color, -.06em 0 $bg-color, .09em 0 $bg-color, -.09em 0 $bg-color, .12em 0 $bg-color, -.12em 0 $bg-color, .15em 0 $bg-color, -.15em 0 $bg-color;

    &:hover {
      background: linear-gradient($red, $red) repeat-x 0% 92%/1px 1px;
    }
  }
}

ul, ol {
  margin-top: 0;
}

li::marker {
  color: $ink-light;
  font-size: font-size(sm);
}

blockquote {
  margin-bottom: spacer();
  padding-left: spacer(xl);
}

.cite {
  color: $ink-light;
  font-size: font-size(sm);
}

// Content
// ----------------------------------------------------------------------------

svg,
img {
  display: block;
  height: auto;
  max-width: 100%;
}

hr {
  background-color: rgba($ink, 0.1);
  border: none;
  height: 2px;
  margin: 0;
}

.kg-bookmark-author,
.kg-bookmark-card,
.kg-bookmark-container,
.kg-bookmark-content,
.kg-bookmark-description,
.kg-bookmark-icon,
.kg-bookmark-metadata,
.kg-bookmark-publisher,
.kg-bookmark-thumbnail,
.kg-bookmark-title,
.kg-gallery-container,
.kg-gallery-image,
.kg-gallery-row,
.kg-width-full,
.kg-width-wide {
  /*! required by gcsan to properly validate the theme */
}
