// ============================================================================
// Colors
// ============================================================================

$paper: hsl(40, 100%, 98%);
$ink: hsl(209, 33%, 24%);
$ink-light: hsla(209, 33%, 24%, 0.65);

$blue: hsl(208, 49%, 69%);
$blue-dark: hsl(208, 49%, 50%);
$red: hsl(359, 46%, 58%);
