// ============================================================================
// Width Config
// ============================================================================

$widths: (
  2xs: 320px,
  xs: 480px,
  sm: 640px,
  md: 800px,
  lg: 960px,
  xl: 1120px,
  1/1: 100%,
  1/2: 50%,
  1/3: calc(100% / 3),
  2/3: calc(100% / 3 * 2),
  1/4: 25%,
  2/4: 50%,
  3/4: 75%,
  1/5: 20%,
  2/5: 40%,
  3/5: 60%,
  4/5: 80%
);

// Accessor
@function width($key) {
  @return map-get($widths, $key);
}
