// ============================================================================
// Prism Styles
// ============================================================================

$gray-pale: rgba(black, 0.025);
$gray-light: #ABB0B7;
$gray-text: #585F66;
$salmon: #EC9366;
$orange: #FA8E3E;
$orange-light: #F2AE49;
$purple: #A37ACC;
$green: #87B300;
$tan: #E6BA7E;
$bloo: #3B9EE6;

$font-size: 16px;
$font-family: $font-family-mono;
$line-height: 1.5;
$tab-size: 2;
$padding-top: 1em;

$block-background: $gray-pale;
$base-color: $gray-text;
$comment-color: $gray-light;
$punctuation-color: $gray-text;
$property-color: $purple;
$selector-color: $green;
$operator-color: $salmon;
$operator-bg: transparent;
$variable-color: $orange;
$function-color: $orange;
$keyword-color: $bloo;
$parameter-color: $purple;
$inline-code-color: $bloo;
$highlight-bg: #F7EBC6;
$highlight-accent: #F7D87C;

// General
// ----------------------------------------------------------------------------

pre ,
code {
  color: $base-color;
  direction: ltr;
  font-family: $font-family;
  font-size: $font-size;
  hyphens: none;
  line-height: $line-height;
  tab-size: $tab-size;
  text-align: left;
  text-shadow: none;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

// Blocks
pre {
  background: $block-background;
  border-radius: 4px;
  margin: .5em 0;
  overflow: auto;
  padding: $padding-top;
}

// Inline code
*:not(pre) > code {
  background: $block-background;
  border-radius: 0.25em;
  color: $inline-code-color;
  padding: 0.1em 0.25em;
}

// Tokens
// ----------------------------------------------------------------------------

.namespace {
  opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $comment-color;
}

.token.punctuation {
  color: $punctuation-color;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: $property-color;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: $selector-color;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: $operator-color;
  background: $operator-bg;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: $keyword-color;
}

.token.function {
  color: $function-color;
}

.token.regex,
.token.important,
.token.variable {
  color: $variable-color;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.parameter {
  color: $parameter-color;
}

// Line Highlighting
// ----------------------------------------------------------------------------

pre[data-line] {
  position: relative;
}

pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}

.line-highlight {
  background: $highlight-bg;
  box-shadow: inset 5px 0 0 $highlight-accent;
  left: 0;
  line-height: inherit;
  margin-top: $padding-top;
  padding: inherit 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  white-space: pre;
  z-index: 0;
}
