<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ $title := cond .IsHome .Site.Title (printf "%s | %s" .Title .Site.Title) }}
  {{ $description := .Description | default .Params.description | default .Site.Params.description }}
  {{ $image := .Params.og_image | default .Params.feature_image | default .Site.Params.og_image }}
  {{ $twitterHandle := .Site.Params.twitter_handle | default "@bb" }}
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ $description | plainify }}" />
  <link rel="canonical" href="{{ .Permalink }}" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:title" content="{{ $title }}" />
  <meta property="og:description" content="{{ $description | plainify }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ with $image }}<meta property="og:image" content="{{ . | absURL }}" />{{ end }}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ $title }}" />
  <meta name="twitter:description" content="{{ $description | plainify }}" />
  {{ with $image }}<meta name="twitter:image" content="{{ . | absURL }}" />{{ end }}
  <meta name="twitter:site" content="{{ $twitterHandle }}" />
  <link rel="stylesheet" type="text/css" href="{{ "assets/bb.css" | relURL }}" />
  {{ with .OutputFormats.Get "RSS" }}<link rel="alternate" type="{{ .MediaType.Type }}" href="{{ .RelPermalink }}" title="{{ $.Site.Title }}" />{{ end }}
</head>
<body class="{{ if .IsHome }}home-template{{ else if eq .Section "posts" }}post-template{{ else if .IsPage }}page-template page-{{ .Slug }}{{ else }}{{ .Kind }}-template{{ end }}">
  <header class="header">
    {{ partial "navigation.html" (dict "page" . "isSecondary" false) }}
  </header>
  <div class="content">
    <main class="main{{ block "main_class" . }}{{ end }}">
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "related" . }}{{ end }}
    {{ block "pager" . }}{{ end }}
    <footer class="footer">
      <div>
        <a href="{{ "/" | relURL }}">{{ .Site.Title }}</a>
        by
        <a href="https://twitter.com/bb" target="_blank" rel="noopener noreferrer">@bb</a>
        |
        <a href="{{ "kaleidoscope/" | relURL }}">Kaleidoscope</a>
      </div>
      <div>Copyright &copy; 2010&ndash;{{ now.Format "2006" }} Brian Bailey</div>
    </footer>
  </div>
  <script src="{{ "assets/bb.js" | relURL }}"></script>
  <script src="{{ "assets/prism.js" | relURL }}"></script>
</body>
</html>
