<article class="article article--excerpt">
  <header class="article__header article__header--compact">
    <h2 class="article__title">
      <a class="article__link no-underline" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <time class="article__date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
  </header>
  <div class="article__excerpt">{{ with .Summary }}{{ . | plainify }}{{ else }}{{ .Plain | truncate 160 }}{{ end }}&hellip;</div>
</article>
