// ============================================================================
// Global Config
// ============================================================================

$bg-color: $paper;
$y-padding: 12vmin;
$y-padding-sm: 6vmin;
$border-base: solid 1px rgba($ink, 0.15);
$mobile-nav-height: spacer(2xl);
$sides-width: 200px;
